/************增加内容************/
/* .tip-container{
	display:flex;
	white-space:nowrap;
	width:100%;
	padding:5% 3%;
	box-sizing: border-box;
	border-bottom:2rpx solid #F1F1F1;
} */
.container .formLis{
	display:flex;
	width:100%;
	padding:5% 3%;
	box-sizing: border-box;
	border-bottom:2rpx solid #F1F1F1;
}
.container .title{
	width:160rpx;
	height:100rpx;
	font-size:30rpx;
	color:rgb(34,34,34);
}

.container .rightBox{
	width:540rpx;
}
.tip-container textarea{
	width:100%;
	box-sizing: border-box;
	height:180rpx;
	padding:20rpx;
	background-color:rgb(243,243,243);	
}
/************增加内容************/

/************上传图片************/

.text-container{
	width:100%;
	height:auto;
	line-height: 36rpx;
	font-size:20rpx;
	color:rgb(153,153,153);
	padding-bottom: 20rpx;
}

.uploadBtn{
	width:64rpx;
	height:64rpx;
	padding: 60rpx;
	background: #f5f5f5;
	border:2rpx solid #eee;
}
	
/************上传图片************/
.submit{
	width:100%;
	margin:100rpx 0 ;
	text-align:center;
}
.submit button{
	width:70%;
	height:80rpx;
	line-height: 80rpx;
	color:#ffffff;
	background-color:rgb(3,150,255);
	font-size:26rpx;
}

.addImgbox{
	padding-top:20rpx;
	overflow: hidden;
}
.addImgbox image{
	width:170rpx;
	height:210rpx; 
	display: block;
	float: left;
	margin:10rpx 10rpx 10rpx 0;
}
.fileBox{
	width: 100%;
	font-size: 30rpx;
	display: inline-block;
	clear: both;
	
}
