 *{margin: 0; padding: 0;}
.arbitral-big-container{
	width:100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow:hidden;
	overflow-y:auto;
	text-align:center;
	/* background-color:rgb(245,245,245); */
}
.arbitral-container{
	width:80%;
	height:80px;
    margin:0 auto;
    padding:50% 0 20% 0;
}
.arbitral-img-text{
	width:30%;
	height:80px;
	display:inline-block;
	margin:0 7.5%;
}
.arbitral-img-text image{
	width:65%;
	height:60px;
}
.arbitral-img-text view{
	font-size:15px;
	color:grb(34,34,34);
	margin-top:3px;
}
.button{
	width:100%;
	height:35px;
}
 button{
	width:55%;
	height:35px;
	margin:10px auto;
	background-color:#00A1E9;
	color:#ffffff;
	font-size:14px;
}