 *{margin: 0; padding: 0;}
.attPro-container{
	width:100%;
	/* padding:40rpx; */
	box-sizing: border-box;
	/* background-color:rgb(245,245,245); */
}
.attPro-tit{ 
	padding-top: 40rpx;
	text-align: center;
	line-height: 100rpx;
	height: 100rpx;
}
.attPro-container .ql-editor{
	font-size: 28rpx;
	line-height: 44rpx;
	color: #333;
	max-width: 100%;
	overflow: hidden;
} 
.attPro-container .ql-editor view img{
	width: 100%;
	display: block;
	margin: 0 auto;
}
.banner-container{
	width:100%;
	height:100rpx;
	line-height: 100rpx;
	display:flex;
	white-space:nowrap;
	background-color:#ffffff;
	box-shadow: 0 0 20rpx rgba(0,0,0,0.1);
	margin-bottom: 10rpx;
	
}
.banner-container .item{
	width:50%;
	text-align:center;
}
.active-item .text{
	width:40%;
	font-size:30rpx;
	line-height: 94rpx;
	color: #00A1E9 ;
	border-bottom:2px solid #00A1E9;
}
.item .text{
	width:40%;
	font-size:30rpx;
	line-height: 96rpx;
	margin: 0 auto;
}

/**************产品名称****************/
.container{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:PingFang-SC-Medium;
}
.name-container{
  display:flex;
  white-space:nowrap;
  width:100%;
  height:110rpx;
  padding:0 5%;
  border-bottom:1px solid #F1F1F1;
  align-items:center;
}
.container .title{
	height:100rpx;
	font-size:30rpx;
	color:#666;
	display:flex;
	align-items:center;
}
.container .formLis{
	padding: 0 4%;
	display:flex;
	align-items:center;
	justify-content: space-between;
	width: 100%;
	height: 110rpx;
	box-sizing:border-box;
	border-bottom:1px solid #F1F1F1;
	position: relative;
}
.container .formLis input{
	width: 460rpx;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 30rpx;
	text-align: right;
}
.container .r_cont{ font-size: 30rpx;}
/**************产品名称****************/

/**************交易类型****************/
/* .cate-container{
	width:100%;
	height:55px;
	display:flex;
	white-space:nowrap;
    padding:0 5%;
	align-items:center;
	border-bottom:1px solid #F1F1F1;
}
.cate-container .title{
	width:10%;
	height:26px;
	font-size:13px;
	color:#999999;
	display:flex;
	align-items:center;
}
.cate-container input{
   width:78%;
   height:26px;
   text-align:right;
} */
/**************交易类型****************/

/**************角色****************/
/* .rolle-container{
	width:100%;
	height:55px;
	display:flex;
	white-space:nowrap;
    padding:0 5%;
	align-items:center;
	border-bottom:1px solid #F1F1F1;
}
.rolle-container .title{
	width:10%;
	height:55px;
	font-size:13px;
	color:#999999;
	display:flex;
	align-items:center;
}
.rolle-container input{
   width:78%;
   height:26px;
   text-align:right;
} */
/**************角色****************/

/****************手机号***************/
  
/************isshow************/
/* .phone-big-container{
  width:100%;
  height:80px;
  border-bottom:1px solid #F1F1F1;
  }
  .phone-container{
  	  width:100%;
  	  height:40px;
  	  display:flex;
  	  white-space:nowrap;
  	  font-size:15px;
  	  padding:0 5%;
	  display:flex;
  	  align-items: center;
  	  color:rgb(34,34,34);
  } 
  .phone-container .title{
	 width:10%;
	 height:40px;
	font-size:13px;
	color:#999999;
	 text-align: right;
	 display:flex;
	 align-items:center;
  }
 .phone-container input{
	width:78%; 
	height:40px;
	text-align:right;
	  }
*/
  .phone-container button{
	 width:96rpx;
	 height:52rpx;
	 font-size:24rpx;
	 margin-left:30%;
	 text-align:center;
	 align-items:center;
	 background-color:rgb(3,150,255);
	 color:#ffffff;
  }
  .info-container{
	  width:100%;
	  height:80rpx;
	  display:flex;
	  white-space:nowrap;
	  font-size:30rpx;
	  padding:0 5%;
	  display:flex;
	  align-items: center;
	  color:rgb(34,34,34);
  }
   .info-container .a{
	  color:rgb(34,34,34);
   }
 /* .score{
	  padding:0 10%;
  } */
  /***************isshow**************/
/****************手机号***************/

/****************交易金额***************/
.sum-container{
 display:flex;
 white-space:nowrap;
 width:100%;
 height:110rpx;
 padding:0 5%;
 align-items:center;
 border-bottom:1px solid #F1F1F1;
}
.sum-container .title{
	 width:10%;
	 height:110rpx;
	font-size:26rpx;
	color:#999999;
	 display:flex;
	 align-items:center;
  }
  .sum-container input{
     width:78%;
     height:52rpx;
     text-align:right;
  }
/****************交易金额***************/

/************增加内容************/
/* .tip-container{
	display:flex;
	white-space:nowrap;
	width:100%;
	height:115px;
	padding:5%;
	border-bottom:1px solid #F1F1F1;
}
.tip-container .title{
	width:22%;
	height:55px;
	font-size:13px;
	color:#999999;
} */
.tip-container textarea{
	width:60%;
	height:180rpx;
	padding:4%;
	background-color:lightgray;	
}
/************增加内容************/

/************上传图片************/
.img-container{
	display:flex;
	white-space:nowrap;
	width:100%;
	padding:5%;
	border-bottom:1px solid #F1F1F1;
	position:relative;
	}
	.img-container .title{
		width:20%;
		height:110rpx;
		font-size:26rpx;
		color:#999999;
	}
    .img-little-container{
	   width:80%;
     }
	.img-container image{
		width:170rpx;
		height:210rpx;
		padding:10rpx 1%;
		float:left;
	}
	.text-container{
		width:10%;
		height:110rpx;
		font-size:24rpx;
		padding:5% 5% 10% 5%;
		color:rgb(153,153,153);
	}
	.img-container p{
		width:10%;
		height:40rpx;
		}	
.code-container{
	width:20%;
	height:40rpx;
	font-size:30rpx;
	color:rgb(102,102,102);
	position:absolute;
	top:65%;
	left:65%;
	display:flex;
	text-align:center;
}
.code-container image{
	width:85%;
	height:136rpx;
	margin:20% 28% 0 -28%;
}
/************上传图片************/
.submit{
	width:100%;
	margin:200rpx 0 100rpx 0 ;
	text-align:center;
}
.submit button{
	width:80%;
	height:80rpx;
	color:#ffffff;
	background-color:rgb(3,150,255);
	font-size:30rpx;
}

/**********底部按钮**********/
.button-big-container{
	width:100%;
	height:150rpx;
}
.button-container{
	width:90%;
	height:200rpx;
	margin: 0 auto;
	display:flex;
	white-space:nowrap;
	justify-content: center;
	align-items: center;
}
.button{
	width:40%;
	height:80rpx;
	margin:0 2.5%;
	text-align:center;
}
button{
	width:100%;
	height:80rpx;
	margin:0 auto;
	background-color:#00A1E9;
	color:#ffffff;
	font-size:30rpx;
	display:inline-block;
}
.info-container input{
	width:76%;
	height:52rpx;
	text-align:right;
}
.platform{
height:40px;
color:rgb(102,102,102);
font-size:28rpx;
margin-top: 20rpx;
padding:30rpx 0 40rpx 0;
text-align: center;
border-top:2rpx solid #f5f5f5 ;
}
.platform image{
	width:36rpx;
	height:30rpx;
	display:inline-block;
	vertical-align: middle;
}

/* 平台信息标题 */
.pTtitle{
	color:#000000;
	font-size:32rpx;
	line-height: 64rpx;
	font-weight:bold;
	width: 94%; 
	margin: 0 auto;
	padding-top: 40rpx;
	position: relative;
	margin-bottom: 10rpx;
}
.pTtitle::after{
	content: "";
	width: 126rpx;
	height: 8rpx;
	background: #00A1E9;
	position: absolute;
	bottom: 0;
	left: 0;
}

/**********底部按钮**********/


/************弹框*********/
#modal-bg{ 
	position: absolute; 
	top: 0%; 
	left: 0%; 
	width:100%; 
	height:140%; 
	background-color:black; 
	z-index:100; 
	opacity:.50; 
	filter: alpha(opacity=88); 
} 
#modal{ 
	position: fixed; 
	top:15%; 
	left:12%; 
	width:78%; 
	height:60%; 
	border-radius:6rpx;
	border-bottom: 6rpx solid #FFFFFF;
	background-color: white; 
	box-shadow:0 0 20rpx 0 rgba(0,0,0,0.3);
	z-index:101; 
	background-color:#ffffff;
} 
#modal .title{
	width:30%;
	margin:0 auto;
	font-size:30rpx;
	color:rgb(34,34,34);
	padding:15% 0;
}
#modal .code{
	width:55%;
	height:40%;
	left:23%;
}
#modal #close{
	width:56rpx;
	height:56rpx;
	left:50%;
	bottom:10%;
	transform: translate(-50%,0);
	position: absolute;
	display: inline-block;
}
/************弹框*********/

/************项目动态*********/
*{margin: 0; padding: 0;}
.dynamic-big-container{
	width:100%;
	margin:0 auto;
	background-color:#ffffff;
	font-family:PingFang-SC-Medium;
}
.dynamic-container{
  width:80%;
  margin:40rpx auto;
  padding:30rpx;
  box-shadow:0px 0px 10rpx #e8e8e8;
  border-radius: 10rpx;
}
.date-container{
	width:30%;
	height:30rpx;
	display:flex;
	white-space:nowrap;
}
.dynamic-container .jia{
	font-family:MicrosoftYaHai;
	display:inline-block;
	color:rgb(255,157,3);
	font-size:30rpx;
}
.dynamic-container .jia.jiab{
	color:rgb(38,199,72);
}
.dynamic-container .date{
	color:#999999;
	font-size:30rpx;
	padding:0 10%;
}
.dynamic-container .content{
	font-size:30rpx;
	color:#999999;
	margin:30rpx 0;
}
.dynamic-container image{
	width:30%;
	height:210rpx;
}
.dynamic-big-container .button{
	width:100%;
	height:60rpx;
}
.dynamic-big-container button{
	width:80%;
	height:80rpx;
	line-height: 80rpx;
	font-size:32rpx;
	margin:20rpx auto;
}
/************项目动态*********/

.addImgbox{
	overflow: hidden;
}
.addImgbox image{
	width:170rpx;
	height:210rpx; 
	display: block;
	float: left;
	margin:10rpx 10rpx 10rpx 0;
}

.fileBox{
	width: 100%;
	font-size: 30rpx;
	display: inline-block;
	clear: both;
	
}


